{{!--<p>{{title}}</p>
<p>{{author}}</p>--}}
<div class="categoriesWrapper">
    <div class="container-fluid">
        {{!--Breadcrumb--}}
        <p class="breadcrumbs">
            <a href="#/home">
                Home
            </a>
            <span>&raquo;</span>
            <a href="#/book-categories">
                Book Categories
            </a>
            <span>&raquo;</span>
            <a href="#/book-categories/{{bookCategory}}"> {{bookCategory}} </a>
            <span>&raquo;</span>
            <span>{{title}}</span>      
        </p>
        {{!--Title--}}
        <div class="titleWrapper">
            <h1>
                {{title}}
            </h1>
            <h3>
                {{author}}
            </h3>
        </div>
        {{!--Category--}}
        <div class="row">
            <div class="col-md-8">
                <div class="category">
                    <div class="categorySubtitle">
                        <p>Book Price: &#36;{{price}}</p>
                        <p>Book Rating: <input type="hidden" class="rating" value="{{rating}}" data-readonly/></p>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{imageUrl}}" alt="{{title}}" class="img-thumbnail">
                        </div>
                        <div class="col-md-7" id="categoryDescriptionWrapper">
                            <p class="categoryDescription">{{description}}</p>
                        </div>
                    </div>
                    <div>
                        <a href="#/home" class="btn btn-default">Buy Now</a>
                    </div>
                    {{!--Comments--}}
                    <div class="comments">
                        <h4>Comments</h4>
                        {{#each this}}
                            {{#if comment}}
                                <div class="commentsWrapper">
                                    <img src="{{photoUrl}}" class="img-thumbnail comment-photo"> 
                                    <h3>{{author}}</h3>
                                    <span class="date">{{date}}</span>
                                    <p class="categoryDescription">{{comment}}</p>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                    <div> 
                        <h4>Your Comment</h4>
                        <div class="form-group">
                            <textarea id="tb-comment" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-default" id="btn-add-comment">Add Comment</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <aside>
                    <h3>
                        Book Categories
                    </h3>
                    <ul>
                        <li>
                            <a href="#/book-categories/Dark-Fantasy">Dark Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Epic-Fantasy">Epic Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Romantic-Fantasy">Romantic Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Sci-fi-Fantasy">Sci-fi Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Vampire-Fantasy">Vampire Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Young-Adult-Fantasy">Young Adult Fantasy Books</a>
                        </li>
                    </ul>
                    <h3>
                        Best Sellers
                    </h3>
                    <ul>
                        <li>
                            <a href="#/book-categories/Dark-Fantasy/The-Blood-Mirror">The Blood Mirror</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Epic-Fantasy/Reign-of-Madness">Reign of Madness</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Romantic-Fantasy/Graceling">Graceling</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Sci-fi-Fantasy/Dune">Dune</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Vampire-Fantasy/Dracula">Dracula</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Young-Adult-Fantasy/Everlost">Everlost</a>
                        </li>
                    </ul>
                    <h3>
                        Fanfiction Stories
                    </h3>
                    <ul>
                        <li>
                            <a href="#/fan-fiction/-KciT964YxK9YS9NAZ7Z">Enclosed Perimeters</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-KciTfHSx1Jg3ftBX1XL">Delusions</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-KciU1Bw6Ia4a5E1Ln5n">You Have Been Hacked</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5Re8kpMnIi58_MZ1X">A Knight to Remember</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5SNbglosXE_Sg8ASu">Stray</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5T58PAgntE-aF_XkQ">Little Luna</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>
<script>
    $('.rating').rating();
</script>