<div class="cartWrapper">
    <div class="container-fluid">
        <p class="breadcrumbs">
            <a href="#/home">
                Home
            </a>
            <span>&raquo;</span>
            <span>Shopping Cart</span>      
        </p>
        <div class="title">
            <h1>
                Shopping Cart
            </h1>
        </div>
        <div class="bodyWrapepr">
            {{#if this}}
                <div class="col-md-8">
                    {{#each this as |val valId|}}
                        <div class="cartItem">
                            <div class="cartTitle">
                                {{!--<p>{{title}}</p>
                                <p>{{author}}</p>--}}
                                <h3> <a href="{{itemUrl}}">{{title}}</a> </h3>
                                <p>{{author}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{imageUrl}}" alt="{{title}}" class="img-thumbnail">
                                </div>
                                <div class="col-md-7" id="categoryDescriptionWrapper">
                                    <p class="price">Price: &#36;{{price}}</p>
                                    <p class="quantity">Quantity: {{quantity}}</p>
                                    <button type="button" class="btn btn-danger remove" id="remove">Remove</button>
                                    <p style="display: none">{{valId}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            <div class="col-md-4">
                <div class="cartAside">
                    
                </div>
                <div class="jumbotron">
                    <h2>Summary</h2>
                    <p>Shipping Price: &#36;0</p>
                    <p id="totalPrice">Total Ammount: &#36;</p>
                </div>
            </div>
            {{else}}
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> Your Cart is Empty
                </div>
            {{/if}}
        </div>
    </div>
</div>