{{!--{{#each this as |val valId|}}
<p><a href="#/book-categories/{{val.bookCategory}}/{{valId}}">{{val.title}}</a></p>
{{/each}}--}}
<div class="categoriesWrapper">
    <div class="container-fluid">
        {{!--Breadcrumb--}}
        <p class="breadcrumbs">
            <a href="#/home">
                Home
            </a>
            <span>&raquo;</span>
            <a href="#/book-categories">
                Book Categories
            </a>
            <span>&raquo;</span>
            {{#each this}}
                {{#if category}}
                    <span>{{category}}</span>
                {{/if}}
            {{/each}}
        </p>
        {{!--Title--}}
        <div class="titleWrapper">
            <h1>
                {{#each this}}
                    {{#if category}}
                        {{category}} Fantasy Books
                    {{/if}}
                {{/each}}
            </h1>
            <h3>
                {{#each this}}
                    {{#if category}}
                        Browse all {{category}} Fantasy Books
                    {{/if}}
                {{/each}}
            </h3>
        </div>
        {{!--Category--}}
        <div class="row">
            <div class="col-md-8">
                {{#each this as |val valId|}}
                <div class="category">
                    <h4>
                        <a href="#/book-categories/{{val.bookCategory}}/{{valId}}">{{val.title}}</a>
                    </h4>
                    <div class="categorySubtitle">
                        <p>{{author}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{val.imageUrl}}" alt="{{val.title}}" class="img-thumbnail">
                        </div>
                        <div class="col-md-7" id="categoryDescriptionWrapper">
                            <p class="categoryDescription">{{val.description}}</p>
                        </div>
                    </div>
                    <div>
                        <a href="#/book-categories/{{val.bookCategory}}/{{valId}}" class="btn btn-default">View Book</a>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-sm-4">
                <aside>
                    <h3>
                        Book Categories
                    </h3>
                    <ul>
                        <li>
                            <a href="#/book-categories/Dark-Fantasy">Dark Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Epic-Fantasy">Epic Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Romantic-Fantasy">Romantic Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Sci-fi-Fantasy">Sci-fi Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Vampire-Fantasy">Vampire Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Young-Adult-Fantasy">Young Adult Fantasy Books</a>
                        </li>
                    </ul>
                    <h3>
                        Best Sellers
                    </h3>
                    <ul>
                        <li>
                            <a href="#/book-categories/Dark-Fantasy/The-Blood-Mirror">The Blood Mirror</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Epic-Fantasy/Reign-of-Madness">Reign of Madness</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Romantic-Fantasy/Graceling">Graceling</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Sci-fi-Fantasy/Dune">Dune</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Vampire-Fantasy/Dracula">Dracula</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Young-Adult-Fantasy/Everlost">Everlost</a>
                        </li>
                    </ul>
                    <h3>
                        Fanfiction Stories
                    </h3>
                    <ul>
                        <li>
                            <a href="#/fan-fiction/-KciT964YxK9YS9NAZ7Z">Enclosed Perimeters</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-KciTfHSx1Jg3ftBX1XL">Delusions</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-KciU1Bw6Ia4a5E1Ln5n">You Have Been Hacked</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5Re8kpMnIi58_MZ1X">A Knight to Remember</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5SNbglosXE_Sg8ASu">Stray</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5T58PAgntE-aF_XkQ">Little Luna</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>