<h1>da</h1>
{{#each this as |val valId|}}
    {{!--<p><a href="#/fan-fiction/{{valId}}">{{val.title}}</a></p>
    <p>{{val.text}}</p>--}}
    <p><a href="#/book-categories/{{val.bookCategory}}/{{valId}}">{{val.title}}</a></p>
{{/each}}