<h1>Works!!!</h1>
<p>{{title}}</p>
<p>{{text}}</p>
<p>by: {{author}}</p>
{{!--<h1>da</h1>
{{#each this as |val valId|}}
    {{!--<p><a href="#/fan-fiction/{{valId}}">{{val.title}}</a></p>
    <p>{{val.text}}</p>
    <p><a href="#/fan-fiction/{{valId}}">{{val.title}}</a></p>
{{/each}}--}}


