<div class="cartWrapper">
    <div class="container-fluid">
        <p class="breadcrumbs">
            <a href="#/home">
                Home
            </a>
            <span>&raquo;</span>
            <span>Shopping Cart</span>      
        </p>
        <div class="title">
            <h1>
                Wishlist
            </h1>
        </div>
        <div class="bodyWrapepr">
            {{#if this}}
                <div class="col-md-8">
                    {{#each this as |val valId|}}
                        <div class="cartItem">
                            <div class="cartTitle">
                                {{!--<p>{{title}}</p>
                                <p>{{author}}</p>--}}
                                <h3> <a href="{{url}}">{{title}}</a> </h3>
                                <p>{{author}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-3 cartImage">
                                    <img src="{{image}}" alt="{{title}}" class="img-thumbnail">
                                </div>
                                <div class="col-md-7" id="categoryDescriptionWrapper">
                                    <p class="price">Price: &#36;{{price}}</p>
                                    <button type="button" class="btn btn-danger remove" id="remove">Remove</button>
                                    <p style="display: none">{{valId}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            <div class="col-sm-4">
                <aside class="wishlistAside">
                    <h3>
                        Book Categories
                    </h3>
                    <ul>
                        <li>
                            <a href="#/book-categories/Dark-Fantasy">Dark Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Epic-Fantasy">Epic Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Romantic-Fantasy">Romantic Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Sci-fi-Fantasy">Sci-fi Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Vampire-Fantasy">Vampire Fantasy Books</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Young-Adult-Fantasy">Young Adult Fantasy Books</a>
                        </li>
                    </ul>
                    <h3>
                        Best Sellers
                    </h3>
                    <ul>
                        <li>
                            <a href="#/book-categories/Dark-Fantasy/The-Blood-Mirror">The Blood Mirror</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Epic-Fantasy/Reign-of-Madness">Reign of Madness</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Romantic-Fantasy/Graceling">Graceling</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Sci-fi-Fantasy/Dune">Dune</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Vampire-Fantasy/Dracula">Dracula</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Young-Adult-Fantasy/Everlost">Everlost</a>
                        </li>
                    </ul>
                    <h3>
                        Fanfiction Stories
                    </h3>
                    <ul>
                        <li>
                            <a href="#/fan-fiction/-KciT964YxK9YS9NAZ7Z">Enclosed Perimeters</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-KciTfHSx1Jg3ftBX1XL">Delusions</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-KciU1Bw6Ia4a5E1Ln5n">You Have Been Hacked</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5Re8kpMnIi58_MZ1X">A Knight to Remember</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5SNbglosXE_Sg8ASu">Stray</a>
                        </li>
                        <li>
                            <a href="#/fan-fiction/-Ke5T58PAgntE-aF_XkQ">Little Luna</a>
                        </li>
                    </ul>
                </aside>
            </div>
            {{else}}
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> Your Wishlist is Empty
                </div>
            {{/if}}
        </div>
    </div>
</div>